<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xxx图书馆</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
    <style>
        h3 {
            padding: 40px 0 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>书籍列表</h3>
        <a class="btn btn-primary" href="/add" style="margin-bottom: 40px;">添加书籍</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>书名</td>
                    <td>价格</td>
                    <td>出版社</td>
                    <td>作者</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="bookList"></tbody>
        </table>
    </div>

    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
    <script>
        var $bookList = $('#bookList');

        // 请求书籍列表
        $.ajax({
            url: '/books',
            type: 'get',
            success: function(res) {
                if (res.code === 200) {
                    var data = res.data;
                    data.forEach(function(d, index) {
                        $bookList.append($(`<tr data-id="${d.id}">
                            <td>${d.name}</td>
                            <td>￥${d.price}</td>
                            <td>${d.publish}</td>
                            <td>${d.author}</td>
                            <td><a class="btn btn-link delete" href="javascript:void(0);">删除</a> <a class="btn btn-link" href="/detail?id=${d.id}">详情</a></td>
                        </tr>`));
                    });

                    $('.delete').on('click', function() {
                        var $this = $(this);
                        var $tr = $this.parents('tr');
                        var id = $tr.attr('data-id');

                        $.ajax({
                            url: '/delete?id=' + id,
                            type: 'get',
                            success: function(res) {
                                if (res.code === 200) {
                                    $tr.remove();
                                }
                            }
                        });
                    });
                }
            }
        });
    </script>
</body>
</html>